h1,h2{
    color:green;
    font-size: 70px;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.lets{
    color:blue;
}
#idselector{
    color:green;
    font-size:150px;
}
body{
    background-color: aqua;
}
body{
    background-image: url('pic.jpg');
    background-size: cover;
}
.padding{
    padding:10px 5px 6px 20px;
    /*top,right,bottom,left*/
    padding-right:2px;
    border: 3px solid olivedrab;
    margin:100px;
    margin-left:50px;
}
.rect{
    border:3px solid palevioletred;
    height:50px;/*rect:h=less w=more*/
    width:100px;
    height:25px;
    width:25px;
}
