/*Descendant selector*/

div p {
    color:red;
}

/*child selector*/
div > p {
    color:blue;
}

/*adjacent sibling selector*/
div + p {
    color:aqua;
}
/*general sibling selector*/

div ~ p {
    color:pink;
}