ul {
    list-style-type: none;
    margin: 10px;
    padding: 50px;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    padding: 8px;
    background-color: #dddddd;
  }